<% if @events.count == 0 %>
<div class="container_16" style="margin-bottom: 25px;">
  <span class="grid_6 prefix_5 centered">NO EVENTS FOUND</span>
</div>
<% else %>
<table id="events-table" class="container_16" border="0" cellpadding="0" cellspacing="0">
  <thead>
  <tr>
    <th class="grid_2">
      <h2>
        <span>DATE</span>
        <img class="sorting_img" src="/assets/unsorted.png"/>
        <img class="sorting_asc_img" src="/assets/ascending.png"/>
        <img class="sorting_desc_img" src="/assets/descending.png"/>
      </h2>
    </th>
    <th class="grid_6">
      <h2>
        <span>ARTIST</span>
        <img class="sorting_img" src="/assets/unsorted.png"/>
        <img class="sorting_asc_img" src="/assets/ascending.png"/>
        <img class="sorting_desc_img" src="/assets/descending.png"/>
      </h2>
    </th>
    <th class="grid_5">
      <h2>
        <span>VENUE</span>
        <img class="sorting_img" src="/assets/unsorted.png"/>
        <img class="sorting_asc_img" src="/assets/ascending.png"/>
        <img class="sorting_desc_img" src="/assets/descending.png"/>
      </h2>
    </th>
    <th class="grid_3 centered">
      <h2>
        <span>TICKETS</span>
        <img class="sorting_img" src="/assets/unsorted.png"/>
        <img class="sorting_asc_img" src="/assets/ascending.png"/>
        <img class="sorting_desc_img" src="/assets/descending.png"/>
      </h2>
    </th>
    <th class="date-sort-column"><h2>DATE_SORT</h2></th>
    <th class="price-sort-column"><h2>PRICE_SORT</h2></th>
  </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr class="<%= (event.event_datetime.to_date == Time.now.to_date) ? 'tonight-event' : ''%>">
        <td class="grid_2 event_datetime" data-sortvalue="">
          <%= event.event_datetime.to_date == Time.now.to_date ? "TONIGHT" : event.event_datetime.strftime("%a, %-m/%d").upcase %>
        </td>
        <td class="band-link drop_link grid_6 " data-bandid="<%= event.bandid %>" data-eventid="<%= event.id %>" >
          <%= event.title.upcase %>
          <% if event.band and event.band.is_editors_choice %>
            <img class="ec-star" src="/assets/ec-star.png" alt="ec-star"/>
          <% end %>
          <% if event.is_in_presale %>
            <span href="<%= event.presale_url %>" class="bold"> - PRESALE</span>
          <% end %>
        </td>
        <td class="venue-link drop_link grid_5" data-sortvalue="<%=event.venue.name%>" data-venueid="<%= event.venue.id %>">
          <%= event.venue ? event.venue.name.upcase : "" %>
        </td>
        <td class="grid_3 drop_link ticket-link centered" data-eventid="<%=event.id %>">
          <% if event.price_min and event.price_max %>
            <%= number_to_currency(event.price_min, :precision => 0) + " - " + number_to_currency(event.price_max, :precision => 0) %>
          <% elsif ((event.price_min and (event.price_min > 0)) or (event.price_max and (event.price_max > 0))) %>
            <%= number_to_currency event.price_min, :precision => 0 %><%= number_to_currency event.price_max, :precision => 0 %>
          <% elsif event.venue.ticket_min_price and event.venue.ticket_max_price%>
            <%= number_to_currency(event.venue.ticket_min_price, :precision => 0) + " - " + number_to_currency(event.venue.ticket_max_price, :precision => 0) %>
          <% else %>
            HERE
          <% end %>
        </td>
        <td class="date-sort-column">
          <%=event.event_datetime.to_i%>
        </td>
        <td class="price-sort-column">
          <% if event.price_min and event.price_min > 0%>
            <%= event.price_min %>
          <% elsif event.price_max and event.price_max > 0 %>
            <%=event.price_max %>
          <% elsif event.venue.ticket_min_price and event.venue.ticket_min_price > 0 %>
            <%= event.venue.ticket_min_price %>
          <% elsif event.venue.ticket_max_price and event.venue.ticket_max_price > 0 %>
            <%= event.venue.ticket_max_price %>
          <% else %>
            9999999
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<div style="display:none;" id="hidden-div"></div>
<table style="display:none;"><tbody>
  <tr id="holder-row"><td>XXX</td></tr>
  <tr id="details-row"><td colspan='4'><div id="details-div" class="grid_16"></div></td></tr>
</tbody></table>

<script type="text/x-jquery-tmpl" id="band-details-row-template">
<div id="details-content">
  <div class="clear"></div>
  {{if image_url}}<img class="band-image" src="${image_url}" alt="${name}"/>{{/if}}
  <div class="band-bio">
    <p>
      ${bio}
    </p>
    {{if openingBands}}
    <br/>
    <p>
      OPENERS: ${openingBands}
    </p>
    {{/if}}
  </div>
  <div class="clear-both">
    {{if is_editors_choice}}
    <span class="editors-choice-details">
      <img class="details-image ec-star" src="/assets/ec-star.png" alt="editors choice star"/>
      EDITOR'S PICK
    </span>
    {{/if}}
    <span class="band-links">
      {{if homepage_url}}
        <a href="${homepage_url}" target="_blank">HOMEPAGE</a>
        {{if wikipedia_id}}
          <span> / </span>
        {{else last_fm_id}}
          <span> / </span>
        {{/if}}
      {{/if}}
      {{if wikipedia_id}}
        <a href="http://en.wikipedia.org/wiki/${wikipedia_id}" target="_blank">WIKIPEDIA</a>
        {{if last_fm_id}}
          <span> / </span>
        {{/if}}
      {{/if}}
      {{if last_fm_id}}
        <a href="http://www.last.fm/music/${last_fm_id}" target="_blank">LAST.FM</a>
      {{/if}}
  </span>
  </div>
</div>
</script>

<script type="text/x-jquery-tmpl" id="venue-details-row-template">
  <div id="details-content" class="centered">
    {{if address}}
      <p>
        <a class="address_link" href="http://maps.google.com/?q=${address} ${city_address} ${state} ${zip}" target="_blank">
          <span>${address}</span><br/>
          <span>${city_address}, ${state} ${zip}</span>
        </a>
      </p>
    {{/if}}
    {{if phone}}
      <p>${phone}</p>
    {{/if}}
    {{if homepage_url}}
      <p>
        <a href="${homepage_url}" target="_blank">HOMEPAGE</a>
      </p>
    {{/if}}
    {{if is_editors_choice}}
    <p>
      <span class="editors-choice-details" style="text-align: left;">
        <img class="details-image ec-star" src="/assets/ec-star.png" alt="editors choice star"/>
        EDITOR'S PICK{{if editors_choice_note}}: ${editors_choice_note}{{/if}}
      </span>
    </p>
    {{/if}}
  </div>
</script>

<script type="text/x-jquery-tmpl" id="ticket-details-row-template">
<div id="details-content" style="text-align:right;">
  {{if tickets_sold_at_door}}
    ONLY AVAILABLE AT THE DOOR
  {{else}}
  <span>
    {{if presale_url}}
      <a href="${presale_url}" alt="Presale" target="_blank" class="bold">PRESALE</a>
      <span> / </span>
    {{/if}}
    {{if tickets_url }}
      <a href="${tickets_url}" alt="Tickets" target="_blank">OFFICIAL</a>
      <span> / </span>
    {{/if}}
    <a href="http://www.stubhub.com/search/doSearch?searchStr=${encodeURI(name)}&location=525;Washington%20D.C.,%20Dist.%20of%20Columbia" alt="StubHub" target="_blank">StubHub</a>
    <span> / </span>
    <a href="http://washingtondc.craigslist.org/search/eee?query=${encodeURI(name)}&catAbb=sss&srchType=A" alt="Craigslist" target="_blank">Craigslist</a>
  </span>
  {{/if}}
</div>
</script>

