<table id="events-table" class="container_16" border="0" cellpadding="0" cellspacing="0">
  <thead>
  <tr>
    <th class="grid_6"><h2>ARTIST</h2></th>
    <th class="grid_5"><h2>VENUE</h2></th>
    <th class="grid_3"><h2>DATE</h2></th>
    <th class="grid_2 centered"><h2>TICKETS</h2></th>
    <th class="date-sort-column"><h2>DATE_SORT</h2></th>
    <th class="price-sort-column"><h2>PRICE_SORT</h2></th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td class="band-link grid_6" data-bandid="<%= event.bands.select{ |n| n.name == event.name }.first ? event.bands.select{|n| n.name == event.name}.first.id : (event.bands.first ? event.bands.first.id : '') %>" >
        <%= event.bands.select{|n| n.name == event.name}.first ? event.bands.select{|n| n.name == event.name}.first.name.upcase : event.name.upcase %>
        <% if event.bands.first and event.bands.first.is_editors_choice %>
          <img class="ec-star" src="/assets/ec-star.jpg" alt="ec-star"/>
        <% end %>
      </td>
      <td class="venue-link grid_5" data-sortvalue="<%=event.venue.name%>" data-venueid="<%= event.venue.id %>">
        <%= event.venue ? event.venue.name.upcase : "" %>
      </td>
      <td class="grid_3" data-sortvalue="">
        <%= event.event_datetime.strftime("%a, %b %d").upcase %>
      </td>
      <td class="grid_2 centered ticket-link" data-eventid="<%=event.id %>">
        <% if event.price_min and event.price_max %>
          <%= number_to_currency(event.price_min, :precision => 0) + " - " + number_to_currency(event.price_max, :precision => 0) %>
        <% elsif ((event.price_min and (event.price_min > 0)) or (event.price_max and (event.price_max > 0))) %>
          <%= number_to_currency event.price_min, :precision => 0 %><%= number_to_currency event.price_max, :precision => 0 %>
        <% elsif event.venue.ticket_min_price and event.venue.ticket_max_price%>
          <%= number_to_currency(event.venue.ticket_min_price, :precision => 0) + " - " + number_to_currency(event.venue.ticket_max_price, :precision => 0) %>
        <% else %>
          SOLD OUT
        <% end %>
      </td>
      <td class="date-sort-column">
        <%=event.event_datetime.to_i%>
      </td>
      <td class="price-sort-column">
        <% if event.price_min and event.price_min > 0%>
          <%= event.price_min %>
        <% elsif event.price_max and event.price_max > 0 %>
          <%=event.price_max %>
        <% elsif event.venue.ticket_min_price and event.venue.ticket_min_price > 0 %>
          <%= event.venue.ticket_min_price %>
        <% elsif event.venue.ticket_max_price and event.venue.ticket_max_price > 0 %>
          <%= event.venue.ticket_max_price %>
        <% else %>
          1000000
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<div style="display:none;" id="hidden-div"></div>
<table style="display:none;"><tbody>
  <tr id="holder-row"><td>XXX</td></tr>
  <tr id="details-row"><td colspan='4'><div id="details-div" class="grid_16"></div></td></tr>
</tbody></table>

<script type="text/x-jquery-tmpl" id="band-details-row-template">
<div id="details-content">
  {{if image_url}}<img class="band-image" src="${image_url}" alt="${name}"/>{{/if}}
  <div class="band-bio">
    <p>
      ${bio}
    </p>
  </div>
  <div class="clear-both">
    {{if is_editors_choice}}
    <span class="editors-choice-details">
      <img class="details-image" src="/assets/ec-star.jpg" alt="editors choice star"/>
      EDITOR'S PICK
    </span>
    {{/if}}
    <span class="band-links">
      {{if wikipedia_id}}<a href="http://en.wikipedia.org/wiki/${wikipedia_id}" target="_blank">WIKIPEDIA</a> /{{/if}}
      {{if last_fm_id}}<a href="http://www.last.fm/music/${last_fm_id}" target="_blank">LAST.FM</a> /{{/if}}
      {{if homepage_url}}<a href="${homepage_url}" target="_blank">HOMEPAGE</a>{{/if}}
  </span>
  </div>
</div>
</script>

<script type="text/x-jquery-tmpl" id="venue-details-row-template">
  <div id="details-content" style="text-align:center;">
    <span>
      {{if is_editors_choice}}
        <span class="editors-choice-details">
          <img class="ec-star" src="/assets/ec-star.jpg" alt="editors choice star"/>
          EDITOR'S PICK
        </span>
      {{/if}}
      {{if phone}}
        <span>PHONE:${phone}</span>
      {{/if}}
    </span>
    <span class="venue-links">
      {{if homepage_url}}<a href="${homepage_url}">HOMEPAGE</a>{{/if}}
    </span>
  </div>
</script>

<script type="text/x-jquery-tmpl" id="ticket-details-row-template">
<div id="details-content" style="text-align:right;">
  <span>
    <a href="http://washingtondc.craigslist.org/search/eee?query=${encodeURI(name)}&catAbb=sss&srchType=A" alt="Craigslist" target="_blank">Craigslist</a>
    <span> / </span>
    <a href="http://www.stubhub.com/search/doSearch?searchStr=${encodeURI(name)}&location=525;Washington%20D.C.,%20Dist.%20of%20Columbia" alt="StubHub" target="_blank">StubHub</a>
    {{if tickets_url }}
      <span> / </span>
      <a href="${tickets_url}" alt="Tickets" target="_blank">OFFICIAL</a>
    {{/if}}
  </span>
</div>
</script>

