<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @ticket.event_id %>
</p>

<p>
  <b>Seller url:</b>
  <%= @ticket.seller_url %>
</p>

<p>
  <b>Price:</b>
  <%= @ticket.price %>
</p>

<p>
  <b>Quantity:</b>
  <%= @ticket.quantity %>
</p>

<p>
  <b>Description:</b>
  <%= @ticket.description %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
