<!DOCTYPE html>
<html>
<head>
  <meta name="Description" content="Keep your thumb on the pulse of all the live music happening in Washington DC. Wether you're looking to go out tonight, next week, or want to be the first to know about a pre-sale, we got you."/>
  <title>DC DECIBEL - Live Music in Washington D.C.</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/assets/favicon.png" />
  <meta name="google-site-verification" content="ENxKPdNV-rHWj9y9OyX622KR6-y61YP7_zhA4jkxNi0" />
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29129257-1']);
    _gaq.push(['_trackPageview']);
    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
<div class="container_16" id="title_container">
  <div class="grid_16 title centered" >
  </div>
</div>
<div class="container_12 main_menu">
  <div class="grid_12">
  <div class="centered main_menu_item <%= !params[:q] and !params[:filter] and (controller.action_name == 'index') ? 'selected':''%>" id="main_menu_upcoming">
    <h1><%= link_to "UPCOMING", "/"%></h1>
  </div>
  <div class="centered main_menu_item <%= params[:filter] == 'justannounced' ? 'selected':'' %> " id="main_menu_announced" >
    <h1><%= link_to "JUST ANNOUNCED", "/?filter=justannounced" %></h1>
  </div>
  <div class="centered main_menu_item <%= params[:q] ? 'selected':''%>" id="main_menu_search">
    <h1><a href="javascript:void(null)" id="menu_search_link">SEARCH</a></h1>
  </div>
  <div class="centered main_menu_item <%= controller.action_name == 'about' ? 'selected' : '' %>" id="main_menu_about">
    <h1><a class="main_menu_light_link" href="/about">ABOUT</a></h1>
  </div>
  <div class="centered main_menu_item" id="main_menu_blog">
    <h1><a class="main_menu_light_link" href="http://blog.dcdecibel.com">BLOG</a></h1>
  </div>
</div>
  <div class="clear"></div>
  <div class="horizontal-divider grid_12"></div>
</div>
<div class="clear"></div>
<div class="container_12" id="search_container" <%= @show_search ? "" : "style='display:none;'" %> >
  <div class="grid_6 prefix_3 centered" id="search_panel">
      <input type="text" id="search_box" name="q" value="<%= @query %>" />
      <a href="javascript:void(null)" id="search_submit">SEARCH</a>
  </div>
  <div class="clear"></div>
  <div class="horizontal-divider grid_12"></div>
</div>
<div class="container_12 centered" id="info_panel" style="display:none;">
  <div class="grid_12" id="info_content">
    <p class="info_title">dc decibel is a live concert aggregate for the district</p>
    <p class="info_subtitle">it looks like it's your first time visiting us. here are some quick tips to help you get started:</p>
    <p class="info_line_item"><em>everything is interactive!</em> click an artist for a bio, a venue for directions, or a ticket for buying options.</p>
    <p class="info_line_item">check out our blog and follow us on facebook for weekly recommendations, ticket giveaways, and more.</p>
    <p class="info_close"><a href="javascript:null(void)" class="close_info_panel_action">CLICK TO CLOSE</a></p>
  </div>
  <div class="clear"></div>
  <div class="horizontal-divider grid_12"></div>
</div>
<div class="clear"></div>
<%= yield %>
<div class="clear"></div>
<div class="footer container_16">
  <div class="horizontal-divider grid_16"></div>
</div>
<div class="clear"></div>
<div class="centered footer-menu">
  <ul>
    <li><span><%= link_to "CONTACT", "/contact" %></span><span>&nbsp;/&nbsp;</span></li>
    <li><span>ALL RIGHTS RESERVED&nbsp;/&nbsp;</span></li>
    <li><span>CITYDECIBEL 2012</span></li>
  </ul>
</div>
</body>
</html>

